@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
        background-image: url('/lib/maindesign.jpg');
        background-size: cover;
        background-color: bisque;
        color: black;
    }
    .text-center {
        padding: 200px 0;
    }

    .display-4 {
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 10px;
    }

     p{
         font-size: 24px;
     }


</style>

<div class="text-top align-content-center">
    <h1 class="display-4">WELCOME TO BDAT FINAL PROJECT </h1>
    <h1>Staffing Connection</h1>
    
    <p><bold>NAVJEET KAUR</bold> </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

